## Day 13

## pandas

In [2]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\kiit\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kiit\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kiit\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kiit\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kiit\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\kiit\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
#import pandas
import pandas as pd
import numpy as np

In [ ]:
#create a Series using python list 
s= pd.Series([1,2,3,4])
print(s)

0    1
1    2
2    3
3    4
dtype: int64

In [11]:
arr = np.array([1,2,3,4])
#create a Series using numpy array
s1 = pd.Series(arr)
print(s1)

0    1
1    2
2    3
3    4
dtype: int64

In [19]:
age_series_index = pd.Series(np.array([20, 21, 22,23,34,33]),
                     index=np.arange(0,12,2)) #creating a Series with custom index(0, 2, 4, 6, 8, 10)
print(age_series_index)

0     20
2     21
4     22
6     23
8     34
10    33
dtype: int64

In [17]:
std_mark_series = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e']) # creating a Series with custom index
print(std_mark_series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [18]:
expense_dict = {'rent':2500,'grocery':3000,'travelling':2000,'insurance':5000}
expense_series = pd.Series(expense_dict) # creating a Series from a dictionary
print(expense_series)

rent          2500
grocery       3000
travelling    2000
insurance     5000
dtype: int64

In [37]:
#create a dictionary 
classes_dict ={ "A":["math","science","english"],
                "B":["math","physics"],
                "C":"chemistry"}
#creating a Series from a dictionary
classes_series = pd.Series(classes_dict)
#printing the Series
print(classes_series)

A    [math, science, english]
B             [math, physics]
C                   chemistry
dtype: object

In [38]:
print(classes_series['A']) #accessing the Series using key

['math', 'science', 'english']

In [42]:
print(classes_series[['A','B','C']]) #accessing the Series using key

A    [math, science, english]
B             [math, physics]
C                   chemistry
dtype: object

In [24]:
print(classes_series.index) #printing the index of the Series

Index(['A', 'B', 'c'], dtype='object')

In [25]:
print(classes_series.values) #printing the values of the Series

[list(['math', 'science', 'english']) list(['math', 'physics'])
 'chemistry']

In [27]:
#Accessing series elements
std_data =np.array(['ram','sita','laxmi','krishna','madhav','Arjun'])
std_data_series = pd.Series(std_data)
print(std_data_series)

0        ram
1       sita
2      laxmi
3    krishna
4     madhav
5      Arjun
dtype: object

In [ ]:
print(std_data_series[:5]) #accessing first 5 element

0        ram
1       sita
2      laxmi
3    krishna
4     madhav
dtype: object

In [29]:
print(std_data_series[-5:])

1       sita
2      laxmi
3    krishna
4     madhav
5      Arjun
dtype: object

In [33]:
print(std_data_series[0]) #accessing first element
print(std_data_series[1:4]) #accessing elements from index 1 to 3 (4 is exclusive)
print(std_data_series[-1:]) #accessing last element
print(std_data_series[-3:]) #accessing last 3 elements

ram
1       sita
2      laxmi
3    krishna
dtype: object
5    Arjun
dtype: object
3    krishna
4     madhav
5      Arjun
dtype: object

In [43]:
student_series = pd.Series(np.array([457,456,540,348,502,480]),
                    index=['ram','sita','laxmi','krishna','madhav','Arjun'])
print(student_series)

ram        457
sita       456
laxmi      540
krishna    348
madhav     502
Arjun      480
dtype: int64

In [44]:
print(student_series[student_series>350]) #accessing elements greater than 350

ram       457
sita      456
laxmi     540
madhav    502
Arjun     480
dtype: int64

### Arithmetic Operations

In [45]:
s1 = pd.Series([1,2,3,4,5,6,7,8,9,10])
s2 = pd.Series([11,12,13,14,15,16,17,18,19,20])
#performing arithmetic operation on Series
print(s1 + s2)  # Addition

0    12
1    14
2    16
3    18
4    20
5    22
6    24
7    26
8    28
9    30
dtype: int64

In [48]:
s1.add(s2)  # Addition using add method

0    12
1    14
2    16
3    18
4    20
5    22
6    24
7    26
8    28
9    30
dtype: int64

In [46]:
print(s1- s2)  # Subtraction

0   -10
1   -10
2   -10
3   -10
4   -10
5   -10
6   -10
7   -10
8   -10
9   -10
dtype: int64

In [49]:
s1.sub(s2)  # Subtraction using sub method

0   -10
1   -10
2   -10
3   -10
4   -10
5   -10
6   -10
7   -10
8   -10
9   -10
dtype: int64

In [47]:
print(s1*s2)  # Multiplication

0     11
1     24
2     39
3     56
4     75
5     96
6    119
7    144
8    171
9    200
dtype: int64

In [50]:
s1.mul(s2)  # Multiplication using mul method

0     11
1     24
2     39
3     56
4     75
5     96
6    119
7    144
8    171
9    200
dtype: int64

In [51]:
print(s1/s2)  # Division

0    0.090909
1    0.166667
2    0.230769
3    0.285714
4    0.333333
5    0.375000
6    0.411765
7    0.444444
8    0.473684
9    0.500000
dtype: float64

In [52]:
s1.div(s2)  # Division using div method

0    0.090909
1    0.166667
2    0.230769
3    0.285714
4    0.333333
5    0.375000
6    0.411765
7    0.444444
8    0.473684
9    0.500000
dtype: float64

In [53]:
s1.mod(s2)  # Modulus

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
print(s1%s2)  # Modulus using % operator

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [55]:
s1.pow(s2)  # Power

0                      1
1                   4096
2                1594323
3              268435456
4            30517578125
5          2821109907456
6        232630513987207
7      18014398509481984
8    1350851717672992089
9    7766279631452241920
dtype: int64

In [56]:
print(s1**s2)  # Power using ** operator

0                      1
1                   4096
2                1594323
3              268435456
4            30517578125
5          2821109907456
6        232630513987207
7      18014398509481984
8    1350851717672992089
9    7766279631452241920
dtype: int64

In [57]:
s11 = pd.Series([1,2,3,4,5])
s22 = pd.Series([11,12,1])
#performing arithmetic operation on Series with different lengths
print(s11 + s22)  # Addition with different lengths

0    12.0
1    14.0
2     4.0
3     NaN
4     NaN
dtype: float64

In [58]:
s11.add(s22)  # Addition with different lengths using add method

0    12.0
1    14.0
2     4.0
3     NaN
4     NaN
dtype: float64

In [60]:
s11*2 # Multiplication with scalar

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [62]:
s11+2 # Addition with scalar

0    3
1    4
2    5
3    6
4    7
dtype: int64

In [64]:
s11.add(2) # Addition with scalar using add method

0    3
1    4
2    5
3    6
4    7
dtype: int64

In [72]:
student_scores =pd.Series([88,92,75,91,85],
                          index =['alice','bob','charlie','dave','eve'])
 #rank the students based on their scores
print("student scores")
print(student_scores)
print("\n\nAscending order rank:")
student_rank = student_scores.rank() # Rank in ascending order 
print(student_rank)
# Rank in descending order
print("\n\nDescending order rank:")
student_rank_desc = student_scores.rank(ascending=False)
print(student_rank_desc)

student scores
alice      88
bob        92
charlie    75
dave       91
eve        85
dtype: int64


Ascending order rank:
alice      3.0
bob        5.0
charlie    1.0
dave       4.0
eve        2.0
dtype: float64


Descending order rank:
alice      3.0
bob        1.0
charlie    5.0
dave       2.0
eve        4.0
dtype: float64

In [80]:
sales_data = pd.Series([250,np.nan,175,300,np.nan,220],
                       index=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'])
# sort the sales data in ascending order
print("\n\nSales data before sorting:")
print(sales_data)
print("\n\nSales data after sorting:")
print(sales_data.sort_values(na_position='first'))  # NaN values will be placed at the first position

Sales data before sorting:
Jan    250.0
Feb      NaN
Mar    175.0
Apr    300.0
May      NaN
Jun    220.0
dtype: float64


Sales data after sorting:
Feb      NaN
May      NaN
Mar    175.0
Jun    220.0
Jan    250.0
Apr    300.0
dtype: float64

In [81]:
print("\n\nplacing nan values at the end\n",sales_data.sort_values(na_position='last'))  # NaN values will be placed at the end

placing nan values at the end
 Mar    175.0
Jun    220.0
Jan    250.0
Apr    300.0
Feb      NaN
May      NaN
dtype: float64

In [82]:
#data as decescending order
print("\n\nSales data in descending order:")
print(sales_data.sort_values(ascending=False, na_position='last'))  # NaN values will be placed at the end

Sales data in descending order:
Apr    300.0
Jan    250.0
Jun    220.0
Mar    175.0
Feb      NaN
May      NaN
dtype: float64

In [87]:
student=pd.Series(['ram','sita','laxmi','krishna',np.nan,'Arjun'],
                  index=[1,4,6,2,7,8])
#sorting the Series by index
print("\n\nStudent Series before sorting by index:")
print(student)  
print("\n\nStudent Series after sorting by index:")
print(student.sort_index())  # Sorting by index in ascending order

Student Series before sorting by index:
1        ram
4       sita
6      laxmi
2    krishna
7        NaN
8      Arjun
dtype: object


Student Series after sorting by index:
1        ram
2    krishna
4       sita
6      laxmi
7        NaN
8      Arjun
dtype: object

In [88]:
print("\n\nStudent Series after sorting by index in descending order:")
print(student.sort_index(ascending=False))  # Sorting by index in descending order

Student Series after sorting by index in descending order:
8      Arjun
7        NaN
6      laxmi
4       sita
2    krishna
1        ram
dtype: object