# ðŸ“˜ Restaurant Chains Data Analysis â€” Practice Notebook

This notebook contains hands-on exercises to analyze restaurant chains using Python, Pandas, Seaborn, and Matplotlib.

### ðŸ“‚ Dataset Assumption:
The dataset contains the following columns:
- `restaurant_name`
- `location`
- `votes`
- `aggregate_rating`
- `cuisines`
- `cost_for_two`

---

### ðŸ§  Basic Level

1. **Load the dataset** using Pandas and display the first 5 rows.

In [ ]:
# Your code here

2. How many **unique restaurants** are present in the dataset?

In [ ]:
# Your code here

3. Find the **top 10 most frequently occurring** restaurant names.

In [ ]:
# Your code here

4. How many restaurants have a rating **greater than 4.0**?

In [ ]:
# Your code here

5. Display the count of restaurants by **location** using a bar chart.

In [ ]:
# Your code here

### ðŸ“Š Intermediate Level

6. Identify restaurant **chains** (names that appear more than 3 times).

In [ ]:
# Your code here

7. Create a new DataFrame of only **chain restaurants**.

In [ ]:
# Your code here

8. For each chain, calculate the **average aggregate rating**.

In [ ]:
# Your code here

9. For each chain, calculate the **total number of votes** received.

In [ ]:
# Your code here

10. Visualize the **top 5 chains** with the highest average rating using a **Seaborn bar plot**.

In [ ]:
# Your code here

### ðŸ“ˆ Advanced Level

11. Compare the **popularity (votes)** of top 5 chains **across locations** using a grouped bar chart.

In [ ]:
# Your code here

12. Plot a **boxplot** showing the distribution of ratings for the top 5 chains.

In [ ]:
# Your code here

13. Which locations have the **highest number of high-rated chain restaurants** (rating > 4.2)?

In [ ]:
# Your code here

14. Find the **average cost for two** for each chain. Sort in descending order.

In [ ]:
# Your code here

15. Create a final summary table of top 5 chains including:
   - Number of outlets
   - Average rating
   - Total votes
   - Average cost for two

In [ ]:
# Your code here