# Day 5 (date : 20/05/2025)

## Operators

 - Assignment Operator
 - Arithmetic Operator
 - Logical Operator
 - Relational Operator
 - Bitwise Operator
 - Membership

In [8]:
x = 500
if(x in range(0,50)):
    print("in range")
else:
    print("Not in range")

Not in range

In [22]:
# Arithmetic Operation

x= 10
y= 25
z = x+y
print(x," + ",y ," = ",z)
z = x-y
print(x," - ",y ," = ",z)
z = x*y
print(x," * ",y ," = ",z)
z = x/y
print(x," / ",y ," = ",z)
z= x//y
print(x," // ",y ," = ",z)
z= x%y
print(x," % ",y ," = ",z)

10  +  25  =  35
10  -  25  =  -15
10  *  25  =  250
10  /  25  =  0.4
10  //  25  =  0
10  %  25  =  10

In [23]:
# Relational Operators

a= 2
b= 3

print(a,"==",b," = ",a==b)
print(a,"<",b," = ",a<b)
print(a,"<=",b," = ",a<=b)
print(a,">",b," = ",a>b)
print(a,">=",b," = ",a>=b)
print(a,"!=",b," = ",a!=b)

2 == 3  =  False
2 < 3  =  True
2 <= 3  =  True
2 > 3  =  False
2 >= 3  =  False
2 != 3  =  True

In [21]:
# Logical Operator 

a= True
b= False
 
print(a," logical_And ",b," = ",a and b) #logical And
print(a," logical_Or ",b," = ",a or b)  #logical Or
print(a," logical_Not  = ",not(a))  #logical Not

True  logical_And  False  =  False
True  logical_Or  False  =  True
True  logical_Not  =  False

In [26]:
# Bitwise Operator

n=10
print("bitwise and =",(n%2==0) & (n%3==0)) #bitwise and operator &
print("bitwise or =",(n%2==0) | (n%3==0))  #bitwise or operator |

bitwise and = False
bitwise or = True

### The If - Statement

In [29]:
n=8
if(n>4):
    print(n , " is Greater than 4")
print("This is always printed ")

8  is Greater than 4
This is always printed

In [34]:
n=1
if(n>4):
    print(n , " is Greater than 4")
print("This is always printed ")

This is always printed

### The If-Else Statement

In [32]:
n=1
if(n>4):
    print(n , " is Greater than 4")
else:
    print(n," is smaller than 4")
print("This is always printed ")

1  is smaller than 4
This is always printed

In [35]:
n=10
if(n>4):
    print(n , " is Greater than 4")
else:
    print(n," is smaller than 4")
print("This is always printed ")

10  is Greater than 4
This is always printed

### The if-elif Statements

In [37]:
age = int(input("Enter age : "))
if(0<age<3):
    print("No fares for age group 0-3")
elif(3<age<10):
    print("Bus fare is 20")
elif(10<age<20):
    print("Bus fare is 25 ")
else:
    print("Bus fare is 30")

Enter age : 17
Bus fare is 25

### Nested If-Else Statement

In [52]:
# Largest among 3 numbers

n1 =int(input("Enter 1st number : "))
n2 = int(input("Enter 2nd number : "))
n3 =int(input("Enter 3rd number : "))
if(n1 >n2):
    if(n1>n3):
        print("greatest = ",n1)
    else:
        print("greatest = ",n3)
else:
    if(n2>n3):
        print("greatest = ",n2)
    else:
        print("greatest = ",n3)

Enter 1st number : 2
Enter 2nd number : 2
Enter 3rd number : 4
greatest =  4

### While loop

In [56]:
# Addition of n natural numbers

num =int(input("Enter the value for n = "))
add = 0
i=1
while(i<=num):
    add= add+i
    i=i+1
print("Sum of ",n ," Natural Numbers = ",add)

Enter the value for n = 100
Sum of  10  Natural Numbers =  5050